/* INICIO RESET */
:root {
    --azul: #141843;
    --negro: #000;
    --blanco: #fff;
    --tipo-principal: Helvetica, Arial, sans-serif;
    --tipo-secundaria: Verdana;
}
  

@media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
      --blanco: #000;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}

img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
  
p a {
    display: inline;
}
  
li {
    list-style-type: none;
}
  
html {
    scroll-behavior: smooth;
}
  
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
  
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}

::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}

::selection {
    background-color: var(--negro);
    color: var(--blanco);
}

form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}
  
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}
  
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--negro);
    padding-top: 15%;
    background-color: #F5F8FF;
}
/* FIN RESET */

.ellipse1 {
    height: 624px;
    width: 624px;
    background: radial-gradient(50% 50% at 50% 50%, #FFDDB6 0%, rgba(255, 221, 182, 0) 100%);
    position: relative;
    top: -150px;
    left: 55%;
    z-index: -5;
}

.ellipse2 {
    height: 1000px;
    width: 1000px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(237, 187, 255, 0.6) 0%, rgba(237, 187, 255, 0) 100%);
    position: relative;
    top: -750px;
    left: -10%;
    z-index: -5;
}

.ellipse3 {
    height: 528px;
    width: 528px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(198, 252, 255, 1) 0%, rgba(198, 252, 255, 0) 100%); 
    position: relative;
    top: -1850px;
    left: 25%;
    z-index: -5;
}

#container {
    width: 70%;
    max-width: 1098px;
    max-height: 544px;
    border-radius: 30px;
    background-color: #FFFFFFB2;
    border: 20px solid var(--blanco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 5%;
    padding: 4%;
    z-index: 9999;
    margin: auto;
    margin-top: -2152px;
}

.pricing-card {
    border-radius: 10px;
    z-index: 9999;
}

.pricing-card h1 {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--azul);
    margin-bottom: 22px;
    margin-top: 0;
}

.price-container {
    height: 90px;
}

.price {
    color: var(--azul);
}

.price span {
    font-size: 2.5em;
    font-weight: 700;
}

.price .price-tag {
    font-size: 4em;
    line-height: 80px;
}

.price sub {
    font-size: .9em;
    font-weight: 500;
}

.description {
    width: 100%;
    height: 80px;
    font-size: 1em;
    font-weight: 500;
    color: var(--azul);
    margin-top: 40px;
}

.container button {
    border-radius: 10px;
    padding: 20px;
    font-weight: 500;
    font-size: 1em;
}

.container .free {
    background-color: #FC4E8C;
    color:var(--negro);
}

.container .standard {
    background-color: #09E1EF;
    color:var(--negro);
}

.container .premium {
    background-color: var(--negro);
    color: var(--blanco);
}

@media (max-width: 797px) {
    #container {
        min-width: 380px;
        flex-flow: column nowrap;
        margin: auto;
    }

    .pricing-card {
        min-width: 300px;
        max-height: 150px;
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-auto-rows: minmax(25%, auto);
        grid-column-gap: 10px;
        margin: 7px 0px;
    }

    .description {
        margin: 0px;
    }

    .price-container sub {
        white-space: nowrap;
        font-size: .7em;
    }

    .pricing-card button {
        width: 100%;
        height: 50%;
        padding: 0px;
        align-self: flex-end;
        white-space: nowrap;
    }

    .ellipse1 {
        display: none;
    }

    .ellipse2 {
        display: none;
    }

    .ellipse3 {
        display: none;
    }
}

@media (max-width: 900px) {
    #container {
        gap: 7%;
        padding: 5%;
    }
}

@media (max-width: 968px) {
    .container button {
        width: 100%;
        padding: 10px;         
    }
}